<!DOCTYPE html> 
<html> 
<head>
   
   <link href='/assets/styles.css' rel='stylesheet' type='text/css'>

</head>
    <body>
        <% include partial/nav.ejs %>
        <hi>Welcome to the most awesome website on the internet </hi>
        <p>You wont find a website better anywhere else!</p>
    </body>
</html>

