<!DOCTYPE html> 
<html> 
<head>
    <style>
        body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
        h1{font-size: 400px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 160px; text-align: center;}
    </style>
    <body>
        <% include partial/nav.ejs %>
        <hi>Welcome to the most awesome website on the internet </hi>
        <p>You wont find a website better anywhere else!</p>
    </body>
</head>
</html>