<!DOCTYPE html> 
<html> 
<head>
    <link href="styles.css" rel="stylesheet" type="text/css" />

</head>

    <body>
        
        <!-- Add in the partial view page that you just made-->
        <% include partial/nav.ejs %>
        <hi>Welcome to the profile of <%= person %> </hi>
        <p><strong>Age: </strong><%= data.age %></p>
        <p><strong>Job: </strong><%= data.job %></p>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(item){ %>   //inputting javascript 
                <li><%= item %></li>
            <% }); %>
        </ul>
    </body>
</html>

<!-- things to fix: linking the external stylesheet to index.ejs, contact.ejs, and the last page!!!!!!-->