<htm>
    <head>


    <link href='/assets/styles.css' rel='stylesheet' type='text/css'> <!--css-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!--ajax-->
    <link href='/assets/todo-list.js' rel='jquery' type='text/javascript'>


<script type="text/javascript" src="/assets/todo-list.js"></script>
        <title>Todo List </title>

    </head>
    
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required />
                <button type="submit">Add Item</button>
            </form>
            
            <ul>
            <% for(var i=0; i < todos.length; i++) { %>
                <li><%= todos[i].item %></li>
            <% } %>
            </ul>
        </div>
    </body>
</htm>