<!-- changes that you make to this page will show up everywhere else, because of the partial views that you created -->

<nav>
    <ul>
        <li><a href= "/"> Home</a></li>
        <li><a href= "/contact">Contact</a></li>
    </ul>
    
</nav>

